* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  text-align: center;
}

h1 {
  background-color: #333;
  color: white;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

#todo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
}

#todo-form {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  margin: 5px;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

#todo-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s;
  word-wrap: break-word;
}

.todo-item:hover {
  transform: translateY(-5px);
}

.todo-content {
  padding: 10px;
}
.todo-content strong {
  font-size: 20px;
}
.todo-content p {
  font-size: 10px;
}

.todo-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.todo-buttons button {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  width: 48%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}

.todo-buttons button:hover {
  background-color: #555;
}
